html,body{
    margin: 0px;
}
body{
    background-color:rgb(0, 0, 0);
    font-family:'Segoe UI Black',sans-serif;
}
.container{
    width:100vw;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.card{
    color:rgba(0, 0, 0, 0);
    border-color:rgb(63, 63, 63);
    background-color:rgb(27, 27, 27);
    border-style:solid;
    border-width:4px;
    border-radius:12px;
    margin:10px;
    min-width:120px;
    min-height:20px;
    padding:20px;
    display:flex;
    flex-direction:column;
    align-items:center;
    align-content:center;
}
#title{
    color:rgba(253, 253, 253, 0.795);
    margin-top:5px
}